.headerConter{
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'inter';
    color: #FFFFFF;
}
.headerConter > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
.head{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 1rem 0;
}
.head > h1{
    margin-right: calc(40%);
    font-size: 1.5rem;
}
.socialMediaLogo{
    display: flex;
    gap: calc(0.5rem);
}
.socialMediaLogo a{
    text-decoration: none;
    color: #FFFFFF;
}
.bodySite{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 0;

}
.contentTitle{
    width: 45%;
}

.contentTitle > h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;

}
.contentTitle button{
    margin: 0.5rem 0 0 1rem;   
}
@media (max-width:1015px){
    .bodySite{
        justify-content: center;
    }
    .contentTitle{
        width: 60%;
    }
}

@media (max-width:835px){
    .bodySite > img{
        width: 30vw;
    }
    .contentTitle > h1{
        font-size: 3rem;
    }
}
@media (max-width:591px){
    .contentTitle > h1{
        font-size: 2rem;
    }
    .contentTitle a > button{
        padding: 0.8rem;
    }
    .contentTitle > a{
        font-size: 0.7rem;
    }
}
@media (max-width:389px){
    .bodySite{
        display: flex;
        flex-direction: column-reverse;
    }
    .bodySite > img{
        width: 56vw;
    }
    .contentTitle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contentTitle > h1{
        text-align: center;
        width: 100%;
    }
    .contentTitle > a{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contentTitle a > button{
        margin: 0;
        width: 80%;
    }
}
@media (max-width:285px){
    .head h1{
        margin: 0;
    }
}