.headerConter{
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'Archivo';
    color: #FFFFFF;
}
.headerConter > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
.head{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 1rem 0;
}
.head > h1{
    margin-right: calc(50rem);
    font-size: 1.5rem;
}
.socialMediaLogo{
    display: flex;
    gap: calc(0.5rem);
}
.socialMediaLogo a{
    text-decoration: none;
    color: #FFFFFF;
}