.headerConter{
    position: relative;
    width: 100%;
    overflow: hidden;
    font-family: 'inter';
    color: #FFFFFF;
}
.headerConter > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
.head{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    padding: 1rem 0;
}
.head > h1{
    margin-right: calc(40%);
    font-size: 1.5rem;
}
.socialMediaLogo{
    display: flex;
    gap: calc(0.5rem);
}
.socialMediaLogo a{
    text-decoration: none;
    color: #FFFFFF;
}
.bodySite{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
}
.contentTitle{
    width: 45%;
}

.contentTitle > h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;

}
.contentTitle button{
    margin: 0.5rem 0 0 1rem;
    padding: 1.125rem;
    border-radius: 3.4rem;
    background-color: var(--green-400);
    border: none;
}
.contentTitle button:hover{
    cursor: pointer;
}
.contentTitle button > a{
    text-decoration: none;
    color: var(--gray-600);
    font-family: 'inter';
    font-size: 0.875rem;
    font-weight: 500;
}