/*Product section*/
.productConter span{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
}
.productConter span > h1{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.4;
}
.productConter span > p{
    width: 30%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--gray-700);
}
.product{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

/*end*/
/*Marketing section*/

.marketingConter{
    display: flex;
    justify-content: center;
    padding: 9rem 0;
}
.carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderYourDrink{
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Archivo';
    position: relative;
    height: 50%;
}

.orderYourDrink p{
    position: absolute;
    top: 50%;
    z-index: 5;
}
/*end*/
/*soda section*/
.sodaConter{
    display: flex;
    background-color: var(--green-400);
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: relative;
    height: 18rem;
}
.sodaLeft img:first-child{
    position: absolute;
    width: 9rem;
    height: 15rem;
    filter: blur(2px);
    transform: rotate(23deg);
    top: 0px;
    left: 10%;
    margin-top: -118px;
}
.sodaLeft img:nth-child(2){
    position: absolute;
    width: 24vw;
    height: 25.6rem;
    transform: rotate(341deg);
    bottom: 0;
    left: 15%;
    margin-bottom: -109px;
}
.sodaRigth img{
    height: 39.18rem;
    width: 20vw;
    position: absolute;
    top: 0;
    left: 72%;
    margin-top: -100px;
    transform: rotate(15deg);
    overflow: hidden;
    object-fit: cover;
}
.askButton{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.askButton button{
    background-color: var(--gray-500);
    color: #FFF;
    font-family: 'inter';
    font-weight: 500;
    font-size: 0.875rem;
    padding: 1rem 4rem ;
}
.askButton > h1{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Archivo';
}


/*end*/
.askUsConter{
    background-color: var(--gray-500);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 9rem 0;
}
.askUs{
    color: #FFF;
}
.socialMedia{
    display: flex;
    gap: 0.5rem;
}
.forms{
    width: 45%;
}
/*Medias*/

/*Media Products*/

@media (max-width: 913px) {
    .productConter span > p{
        width: 55%;
    }
}
@media (max-width: 649px) {
    .product{
        flex-wrap: wrap;
    }
    .productConter span > p{
        width: 89%;
    }
}
@media (max-width: 375px) {
    .productConter span > p{
        width: 100%;
    }
}

/*end*/
/*Media Marketing*/

@media (max-width:1151px) {
    .marketingConter > img{
        width: 24.94rem;
    }
    .orderYourDrink{
        justify-content: flex-start;
    }
    .orderYourDrink > img{
        width: 25rem;
    }
    .orderYourDrink p{
        right: 22%;
        font-size: 1.5rem;
    }
}
@media (max-width:803px) {
    .marketingConter > img{
        width: 18.75rem;
        height: 50rem;
        object-fit: cover;
    }
    .orderYourDrink{
        justify-content: flex-start;
    }
    .orderYourDrink > img{
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 705px) {
    .marketingConter{
        flex-direction: column;
        align-items: center;
    }
    .marketingConter > img{
        width: 25rem;
    }
    
}
@media (max-width: 405px) {
    .marketingConter > img{
        width: 20rem;
    }
    .orderYourDrink > img{
        width: 20rem;
        height: 18rem;
    }
    .orderYourDrink p{
        right: 18%;
        font-size: 1.125rem;
    }
}
@media (max-width: 325px) {
    .marketingConter > img{
        width: 16rem;
    }
    .orderYourDrink > img{
        width: 16rem;
        height: 15rem;
    }
    .orderYourDrink p{
        right: 18%;
        font-size: 1.125rem;
    }
}
/*end*/

/*Media soda section*/
@media (max-width:1227px) {
    .sodaLeft img:first-child{
        left: 5%;
    }
    .sodaRigth img{
        height: 35rem;
    }
}
@media (max-width:931px) {
    .sodaLeft img:first-child{
        left: 3%;
    }
    .sodaLeft img:nth-child(2){
        width: 24vw;
        height: 23.5rem;
        left: 12%;
        margin-bottom: -131px;
    }
    .sodaRigth > img{
        width: 20vw;
        height: 27rem;
        margin-top: -70px;
    }
}
@media (max-width: 724px) {
    .sodaConter{
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
        height: 26rem;
    }
    .sodaLeft{
        display: none;
    }
    .sodaRigth img{
        position: unset;
        transform: rotate(0);
        margin-bottom: 0;
        margin-top: -130px;
        width: 9rem;
        height: 14rem;
    }
}
/*end*/