/*Product section*/
.productConter span{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
}
.productConter span > h1{
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.4;
}
.productConter span > p{
    width: 30%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--gray-700);
}
.product{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

/*end*/
/*Marketing section*/

.marketingConter{
    display: flex;
    justify-content: center;
    padding: 9rem 0;
}
.carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderYourDrink{
    background-image: url('./assets/bar.svg');
    background-repeat: no-repeat;
    width: 35.759rem;
    height: 50%;
    color: white;
}




/*end*/
/*Medias*/

@media (max-width: 913px) {
    .productConter span > p{
        width: 55%;
    }
}
@media (max-width: 649px) {
    .product{
        flex-wrap: wrap;
    }
    .productConter span > p{
        width: 89%;
    }
}
@media (max-width: 375px) {
    .productConter span > p{
        width: 100%;
    }
}